<h3>over here will eventually be an contact / about me page</h3>

<div class="sketch1"><img style="height:400px; width:300px;" src="https://s3-us-west-1.amazonaws.com/abetravelblog/aboutme.jpg"></div>