

<div class="sketch1"><img style="height:400px; width:300px;" src="https://s3-us-west-1.amazonaws.com/abetravelblog/aboutme.jpg"></div>
<br> <br>
<div class="aboutme">
  I like to travel to different places. When I am there I like to sketch . When I am there I like to photograph things

</div>